experiment
dist
coverage
node_modules
devAssets

.DS_Store
.idea

.env

.wrangler
.dev.vars*
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfbackend
!*.tfbackend.example
crash.log
build.sh

# the following line was added with the "git ignore" tool by itsrye.dev, version 0.1.0
.lh

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# should not be done... but i dont want to add stuff that shouldnt be there
devenv.nix
devenv.yaml
.envrc
devenv.lock

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
CLAUDE.md
.github/AGENTS.md
.gitignore
.github/copilot-instructions.md
